
@font-face {
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sequel Sans Book Body'), url('/dist/static/Sequel Sans Book Body.ttf') format('truetype');
}
 
@font-face {
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Sequel Sans Semi Bold Body'), url('/dist/static/Sequel Sans Semi Bold Body.ttf') format('truetype');
}
 
// @font-face {
//   font-family: 'Sequel Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: local('Sequel Sans Bold Body'), url('/dist/static/Sequel Sans Bold Body.ttf') format('truetype');
// }
 